.field-container-finacial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-top: 15px;
  margin-top: 20px;
  gap: 20px;
}

.input-field-finacial {
  width: 20dvw;
}
.ringloader-position {
  height: 40dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ringloader-position-fin {
  height: 80dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 700px) {
  .field-container-finacial {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }
  .input-field-finacial {
    width: 40dvw;
  }
}

@media (max-width: 400px) {
  .input-field-finacial {
    width: 55dvw;
  }
}
