.op-prof-pic {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.op-main-container {
  width: 80%;
  height: 80%;
  min-width: 450px;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.input-field {
  height: 50px;
  width: 400px;
  padding-left: 10px;
}
.update-btn {
  height: 50px;
  width: 100%;
  background-color: #ff760d;
}
.update-btn:hover {
  background-color: #ff8f3a;
}
.input-and-label {
  margin: 30px;
}
.addres-text-field {
  width: 100%;
  height: 50px;

  padding-left: 10px;
}

@media (max-width: 1440px) {
  .addres-text-field {
    width: 400px;
    height: 100px;
  }

  .op-main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .two-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1272px) {
  .input-field {
    width: 300px;
  }

  .addres-text-field {
    width: 300px;
    height: 100px;
  }

  .input-and-label {
    margin-bottom: 0px;
  }

  .op-main-container {
    min-width: 350px;
  }
}
