.logo {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.header-main {
  background-position: top center;
  margin-top: 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.whole-page {
  background-image: url("../../../Assets/Mask_group.png");
  background-size: 100% auto;
  background-position-x: left;
  height: 110dvh;
  background-repeat: no-repeat;
  background-position-y: -100px;
}

.items-labels {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.text-label {
  color: var(--Main-White, var(--Main-White, #ffffff));
  margin-left: 30px;
  margin-right: 30px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.simplyfy-your-div {
  margin-top: 160px;
  color: var(--Main-White, var(--Main-White, #ffffff));
  text-align: center;
  font-family: Raleway;
  font-size: 57px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.25px;
  justify-self: center;
  align-items: center;
  margin-left: 500px;
  margin-right: 500px;
}

.out-partners {
  color: var(--Main-White, var(--Main-White, #ffffff));
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 45px;
  margin-bottom: 10px;
}
.busbuddy-makes-div {
  color: var(--Main-White, var(--Main-White, #ffffff));
  text-align: center;
  margin-top: 31px;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-left: 600px;
  margin-right: 600px;
}
.Simplify-Finances-div {
  color: var(--Main-White, var(--Main-White, #ffffff));
  text-align: center;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 35px;
  margin-bottom: 35px;
}
.btn-2-div {
  align-items: center;

  justify-content: center;
}

.partner-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.partner-icon-1 {
  width: 68px;
  height: 68px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.partner-icon-2 {
  width: 150px;
  height: 45px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.partner-icon-3 {
  width: 178px;
  height: 28px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.partner-icon-4 {
  width: 74.432px;
  height: 68px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

@media (max-width: 1670px) {
  .simplyfy-your-div {
    margin-left: 200px;
    margin-right: 200px;
  }

  .whole-page {
    background-image: url("../../../Assets/Mask_group.png");
    background-size: 100% auto;
    background-position-x: left;
    height: 900px;
    background-repeat: no-repeat;
    background-position-y: -40px;
  }

  .busbuddy-makes-div {
    margin-left: 400px;
    margin-right: 400px;
  }
}

@media (max-width: 1550px) {
  .whole-page {
    background-image: url("../../../Assets/Mask_group.png");
    background-size: 100% auto;
    background-position-x: left;
    height: 840px;
    background-repeat: no-repeat;
  }

  .simplyfy-your-div {
    margin-top: 50px;
  }
}

@media (max-width: 1400px) {
  .whole-page {
    background-size: cover;
    height: 850px;
    background-position: center top;
  }
}

@media (max-width: 1200px) {
  .busbuddy-makes-div {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 900px) {
  .whole-page {
    height: 900px;
  }
}

@media (max-width: 870px) {
  .simplyfy-your-div {
    margin-left: 100px;
    margin-right: 100px;
  }
  .busbuddy-makes-div {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media (max-width: 800px) {
  .whole-page {
    height: 1000px;
  }
}

@media (max-width: 750px) {
  .busbuddy-makes-div {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 640px) {
  .header-main {
    flex-direction: column;
    background-size: cover;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .text-label {
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .simplyfy-your-div {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    line-height: 35px;
    margin-top: 30px;
  }
  .Simplify-Finances-div {
    font-size: 18px;
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .busbuddy-makes-div {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .busbuddy-makes-div {
    margin-left: 50px;
    margin-right: 50px;
  }

  .whole-page {
    background-size: cover;
    height: 900px;
    background-position: center top;
  }
}
