
h1 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    color: #efa818;
    text-align: right;
}

h3 {
    font-size: 3rem;
    font-weight: 500;
    text-align: left;
    color: #efa818;
}
form {
    margin-top: 20px;
}
.formfild {
    margin-bottom: 10px;
}
label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #efa818;
    
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #efa818;
    border-radius: 30px;
}
.continue_buttton {
    margin-top: 20px;
    text-align: center;
}  
button {
    width: 60%;
    padding: 10px;
    background-color: #efa818;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
}
.extra_buttton {
    margin-top: 20px;
    justify-content: space-between; 
}

.extra_buttton button {
    margin: 10px 0; 
    padding: 15px 20px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.extra_buttton button i {
    margin-right: 10px;
    font-size: 1.5rem;
}
.extra_buttton button:hover {
    background-color: #efa818;
    color: #fff;
}
@media (max-width: 576px) {
    .registration-page-sm {
    width: 100%;
    margin: 0;
    }
}
