/* BusInfo.css */
.op-main-container {
	width: 80%;
	margin: 0 auto;
}

.op-prof-pic {
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.input-and-label {
	margin: 10px 0;
}

.input-field {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.address-text-field {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.update-btn {
	background-color: #ff760d;
	color: white;
}

.update-btn:disabled {
	background-color: gray;
}
