.get-trip{
  margin-right: 50px;
  margin-left: 20px;
  /*display: flex;*/
  /*justify-content: space-evenly;*/
  /*align-items: flex-end;*/
  
}

.get-row{
  display: flex;
  justify-content: space-evenly;
}

.trip-date-text{
  font-size: 24px;
}

.devider{
  display: flex;
  flex-direction: row;

}