.empower-your-fleet {
  display: flex;
  color: var(--Primary-Base-Black, #000);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  width: 600px;
}
.footer-full {
  width: 100%;
}
@media (max-width: 670px) {
  .empower-your-fleet {
    font-size: 22px;
    width: 400px;
    line-height: 25px;
  }
}

@media (max-width: 450px) {
  .empower-your-fleet {
    font-size: 14px;
    width: 200px;
    line-height: 20px;

    margin-bottom: 10px;
  }
}
